[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]    
Type=forking
WorkingDirectory={{ zk_home }}
User={{ zk_group }}
Group={{ zk_user }}
ExecStart={{ zk_path }}/bin/zkServer.sh start /etc/zookeeper/zoo.cfg
ExecStop={{ zk_path }}/bin/zkServer.sh stop /etc/zookeeper/zoo.cfg
ExecReload={{ zk_path }}/bin/zkServer.sh restart /etc/zookeeper/zoo.cfg
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target
