[Unit]
Description=Apache SOLR
After=network.target

[Service]
User={{ solr_user_name }}
WorkingDirectory={{ solr_user_home }}
PIDFile={{ solr_user_home }}/solr-{{ solr_port }}.pid
EnvironmentFile=/etc/default/solr.in.sh
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=1048576

Restart=on-failure
RestartSec=5

ExecStart={{ solr_install_path }}/bin/solr start -cloud
ExecStop={{ solr_install_path }}/bin/solr stop

[Install]
WantedBy=multi-user.target
